<?xml version="1.0" encoding="UTF-8"?>
<suite name="Selenium poc" >
    
	<listeners>
		<listener class-name="utilities.Listener" />
	</listeners>
	
	<test name="Http status code test on homepage on chrome for mac" preserve-order="true">
	    <parameters>
			<parameter name="pplatform" value="Platform.MAC" />
			<parameter name="pbrowser" value="chrome" />
			<parameter name="pversion" value="50" />
			<parameter name="purl" value="http://localhost:4444/wd/hub"/>
			<parameter name="pos" value="mac" />
			<parameter name="pdevice" value="desktop" />
			<parameter name="pwidth" value="1280" />
			<parameter name="pheight" value="800" />
		</parameters>
	  	<classes>
	  	     <class name="tests.HttpStatusCodeTest" />
	  	</classes>   	
	</test>
	<test name="Account login test on chrome for mac" preserve-order="true">
	    <parameters>
			<parameter name="pplatform" value="Platform.MAC" />
			<parameter name="pbrowser" value="chrome" />
			<parameter name="pversion" value="50" />
			<parameter name="purl" value="http://localhost:4444/wd/hub"/>
			<parameter name="pos" value="mac" />
			<parameter name="pdevice" value="desktop" />
			<parameter name="pwidth" value="1280" />
			<parameter name="pheight" value="800" />
		</parameters>
	  	<classes>
	  	     <class name="tests.AccountLoginTest" />
	  	</classes>   	
	</test>
	
</suite>